html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer {
  background-color: darkgray;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: none;
}

header nav ul li {
  margin: 0 0.5em;
}

.container {
  padding-top: 3em;
}

.container > * {
  padding: 0 1em;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside, article {
  font-size: x-large;
}

article > h1 {
  font-size: xx-large;
}

article {
  text-align: justify;
}

footer {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .aside-one, .aside-two {
    display: inline-flex;
    padding: 0;
    width: calc(50% - 0.25em);
  }

  aside, article {
    font-size: large;
  }

  article > h1 {
    font-size: 2.5em;
  }
}
